<div class="row g-3">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="container navbar-brand" href="/home">Countries</a>
        </div>
    </nav>
</div>
<div class="container ">
    <form class="row g-3 content" [formGroup]="formComponent">
        <div class="col-md-3">
            <label for="exampleFormControlInput1" class="form-label">Country</label>
            <input type="Country" class="form-control" id="Country" placeholder="" formControlName="country">
        </div>
        <div class="col-md-3">
            <label for="exampleFormControlInput1" class="form-label">Language</label>
            <input type="Language" class="form-control" id="Language" placeholder="" formControlName="language">
        </div>
        <div class="col-md-3">
            <label for="exampleFormControlInput1" class="form-label">Currency</label>
            <select class="form-select" aria-label="Default select example" formControlName="currency">
                <option selected>Open this select menu</option>
                <option value="1">COP</option>
                <option value="2">USD</option>
                <option value="3">YEN</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="exampleFormControlInput1" class="form-label">Region</label>
            <select class="form-select" aria-label="Default select example" formControlName="region">
                <option selected>Open this select menu</option>
                <option value="Africa">África</option>
                <option value="Americas">America</option>
                <option value="Asia">Asia</option>
                <option value="Europe">Europa</option>
                <option value="Oceania">Oceania</option>
            </select>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button">Buscar</button>
        </div>
    </form>
    <table class="table content">
        <thead>
            <tr>
                <th scope="col">Paises</th>
                <th scope="col">Region</th>
                <th scope="col">Subregion</th>
                <th scope="col">Languages</th>
                <th scope="col">Capital</th>
                <th scope="col">Flags</th>
            </tr>
        </thead>
        <!-- se muestra la información -->
        <tbody *ngFor="let pais of country">
            <tr>
                <td scope="row">{{pais.name}}</td>
                <td scope="row">{{pais.region}}</td>
                <td scope="row">{{pais.subregion}}</td>
                <td scope="row">{{pais.languages}} </td>
                <td scope="row">{{pais.capital}}</td>
                <td scope="row">{{pais.flag}}</td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
        </tbody>
    </table>
</div>